<component name="ArtifactManager">
  <artifact type="war" name="spring-shiro-plat:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>spring-shiro-plat</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="shiro.war">
      <element id="artifact" artifact-name="spring-shiro-plat:war exploded" />
    </root>
  </artifact>
</component>